<div class="main-block">
  <div>
    <img src="assets/icons-social-media/inst.png" alt="inst" height="40">
    <img src="assets/icons-social-media/fb.png" alt="fb" height="40">
    <img src="assets/icons-social-media/telegram-icon-71185.png" alt="telegr" height="35">
    <img src="assets/icons-social-media/vib.png" alt="vib" height="40">
    <img src="assets/icons-social-media/youtub.png" alt="youtub" height="40">
  </div>
  <nav class="nav-bar">
    <div class="cursor-pointer">ГОЛОВНА</div>
    <div class="cursor-pointer">ОПЛАТА - ДОСТАВКА</div>
    <div class="cursor-pointer" routerLink="/contacts" routerLinkActive="active">КОНТАКТИ</div>
  </nav>
  <div>
    UA ENG
  </div>
</div>
