.main-block
    display: flex
    justify-content: space-around
    align-items: center
    background-color: #313131
    color: #ffffff
    height: 50px
    font-family: Franklin Gothic Demi
    font-style: normal
    font-size: 12px

.nav-bar
    display: flex
    width: 25%

div > nav > div:nth-child(2)
    margin-right: 5%
    margin-left: 5%

.active.selected
  border-bottom: white 1px solid

.select-language > *
  width: 30%

::ng-deep .mat-select-value
  color: #ffffff

::ng-deep .mat-select-arrow
  color: #ffffff
