<div class="wrapper">
<!--  <app-left-menu></app-left-menu>-->
  <div class="main-block">
    <div class="head-wrap">
      <img src="/assets/logo.png" width="97" height="57">
      <div class="right-block">
        <mat-form-field>
          <input matInput placeholder="{{ 'home.placeholder' | translate }}">
        </mat-form-field>
        <img class="icon-glass" src="/assets/icons/magnifying-glass-logo-png-image-77170.png" width="22" height="22">
        <a class="basket">
          <img src="/assets/icons/34568b.png" width="40" height="40">
        </a>
      </div>
    </div>
    <mat-spinner class="spinner" [color]="'accent'" *ngIf="!data"></mat-spinner>
    <div>Всього товарів: {{ data?.length }}</div>

      <div *ngFor="let product of data">
        <app-product-item [product]="product"
        ></app-product-item>
      </div>
  </div>
</div>
