<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span title>{{ 'order.page.title' | translate }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span title>{{ (id ? 'common.title.edit' : 'common.title.add') | translate }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-accordion [multi]="true">

        <!-- #region Personal Data -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'order.page.group-title.personal-data' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="required-asterisk" *ngIf="form.get('customer').invalid">*</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-grid-list [cols]="getCollSpan(4)" rowHeight="64px" formGroupName="customer">
    
            <!-- #region Row 1 -->
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-form-field>
                <input matInput type="text" [placeholder]="'order.caption.first-name' | translate" formControlName="firstName" />
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-form-field>
                <input matInput type="text" [placeholder]="'order.caption.last-name' | translate" formControlName="lastName" />
              </mat-form-field>
            </mat-grid-tile>
            <!-- #endregion -->

            <!-- #region Row 2-->
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-form-field>
                <input matInput type="text" [placeholder]="'order.caption.phone' | translate" formControlName="phone" />
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-form-field>
                <input matInput type="text" [placeholder]="'order.caption.email' | translate" formControlName="email" />
              </mat-form-field>
            </mat-grid-tile>
            <!-- #endregion -->

            <!-- #region Row 3-->
            <mat-grid-tile [colspan]="getCollSpan(4)">
              <mat-form-field>
                <input matInput type="text" [placeholder]="'order.caption.address' | translate" formControlName="address" />
              </mat-form-field>
            </mat-grid-tile>
            <!-- #endregion -->
    
          </mat-grid-list>

        </mat-expansion-panel>
        <!-- #endregion -->
        <!-- #region Cart -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'order.page.group-title.cart' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="required-asterisk" *ngIf="form.get('cart').invalid">*</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-raised-button color="primary" (click)="appendCartItemControl()">{{ 'common.append-button' | translate }}</button>

          <mat-grid-list [cols]="getCollSpan(4)" rowHeight="64px" formArrayName="cart">
            <mat-grid-tile [colspan]="getCollSpan(4)" *ngFor="let controlGroup of cartControls; let i = index" [formGroupName]="i">
              <div class="cart-item-wrap">
                <app-lookup-control
                formControlName="item"
                placeholder="order.caption.item"
                caption="items.list.title"
                [displayPropertyName]="orderItemsDisplayPropertyName"
                [displayedColumns]="orderItemsDisplayedColumns">
              </app-lookup-control>
              <mat-form-field style="width: 6rem">
                <input matInput disabled [placeholder]="'order.caption.item-price' | translate" [value]="controlGroup.value?.item?.price | currency:'UAH':'symbol-narrow'">
              </mat-form-field>
              <mat-form-field style="width: 6rem">
                <input matInput type="number" min="1" step="1" [placeholder]="'order.caption.qty' | translate" formControlName="qty">
              </mat-form-field>
              <mat-form-field style="width: 6rem">
                <input matInput disabled [placeholder]="'order.caption.price' | translate"
                  [value]="(controlGroup.value?.item?.price * controlGroup.value?.qty) | currency:'UAH':'symbol-narrow'">
              </mat-form-field>
              <button mat-button matSuffix mat-icon-button (click)="removeCartItem(i)">
                <mat-icon>delete</mat-icon>
              </button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-expansion-panel>
        <!-- #endregion -->
        <!-- #region Delivery Info -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'order.page.group-title.delivery-info' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="required-asterisk" *ngIf="form.get('deliveryInfo').invalid">*</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list [cols]="4" rowHeight="64px" formGroupName="deliveryInfo">

            <!-- #region Row 1-->
            <mat-grid-tile [colspan]="2">
              <mat-label>{{ 'order.caption.delivery-method' | translate }}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field>
                <mat-select formControlName="method">
                  <mat-option *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod.value">
                    {{ deliveryMethod.displayValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <!-- #endregion -->

            <mat-grid-tile [colspan]="4" rowspan="4" [ngSwitch]="deliveryMethod">
              
              <div *ngSwitchCase="DeliveryMethods.Pickup">{{ env.pickUpAddress }}</div>

              <form *ngSwitchCase="DeliveryMethods.NovaPoshta" [formGroup]="novaPoshtaForm" class="novaPoshtaForm">

                <!-- #region Area Selector-->
                <mat-form-field *ngIf="false">
                  <mat-select formControlName="area" [placeholder]="'order.caption.area' | translate">
                    <mat-option *ngFor="let area of areas" [value]="area.Ref">
                      {{area.Description | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- #endregion -->

                <!-- #region City Selector-->
                <mat-form-field>
                  <input [placeholder]="'order.caption.city' | translate" matInput formControlName="city" [matAutocomplete]="cityAutocomplete">
                  <mat-autocomplete autoActiveFirstOption #cityAutocomplete="matAutocomplete" (optionSelected)="onCitySelected($event)">
                    <mat-option *ngFor="let city of cities$ | async" [value]="city">{{city}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- #endregion -->

                <!-- #region Warehouse Selector-->
                <mat-form-field *ngIf="novaPoshtaForm?.get('city').value">
                  <input [placeholder]="'order.caption.warehouse' | translate" matInput formControlName="warehouse" [matAutocomplete]="warehouseAutocomplete">
                  <mat-autocomplete autoActiveFirstOption #warehouseAutocomplete="matAutocomplete" (optionSelected)="onWarehouseSelected($event)">
                    <mat-option *ngFor="let warehouse of warehouses$ | async" [value]="warehouse">{{warehouse}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- #endregion -->

              </form>
            </mat-grid-tile>

          </mat-grid-list>

        </mat-expansion-panel>
        <!-- #endregion -->
        <!-- #region Payment Info -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'order.page.group-title.payment' | translate }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="required-asterisk" *ngIf="form.get('paymentMethod').invalid">*</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list [cols]="getCollSpan(4)" rowHeight="64px">
            <!-- #region Row 1-->
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-label>{{ 'order.caption.payment-method' | translate }}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="getCollSpan(2)">
              <mat-form-field>
                <mat-select formControlName="paymentMethod">
                  <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.value">
                    {{paymentMethod.displayValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <!-- #endregion -->
            <!-- #region Row 2-->
            <mat-grid-tile [colspan]="getCollSpan(2)" *ngIf="cardNumberVisible">
              <mat-label>{{ 'order.caption.card-number' | translate }}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="getCollSpan(2)" *ngIf="cardNumberVisible">
              <mat-label>{{ env.pbCardNumber }}</mat-label>
            </mat-grid-tile>
            <!-- #endregion -->
          </mat-grid-list>

        </mat-expansion-panel>
        <!-- #endregion -->

      </mat-accordion>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-action-row>
      <button mat-button color="primary" (click)="onBackButtonClick()">{{ 'common.back-button' | translate }}</button>
      <button mat-raised-button color="primary" [disabled]="saveButtonDisabled"
        (click)="onSaveButtonClick()">{{ 'common.save-button' | translate }}</button>
    </mat-action-row>
  </mat-card-actions>
</mat-card>