<div class="main-block">

  <div class="payment-head">
    <img src="/assets/icons/cash-on-delivery.png" alt="cash-on" width="40" height="40">
    <p class="headline">Оплата</p>
  </div>

  <div class="payment-wrapper">

    <div class="payment-block">
      <img src="/assets/icons/shop card.svg" alt="shop card" width="128" height="128">

      <div class="left-part-block">
        <div class="headline-in-block head">
          Карткою Visa, Mastercard
        </div>
        <div>
          Оплата здійснюється на банківський рахунок на ім’я
        </div>
        <div>
          ФОП Поліщук Максим Васильович.
        </div>
        <div>
          Карта ФОП Поліщук Максим Васильович
        </div>
        <div>7777 7777 7777 7777</div>
      </div>
    </div>

    <div class="payment-block">
      <img src="/assets/icons/shop-monеy.svg" alt="money" width="128" height="128">

      <div class="left-part-block">
      <div class="headline-in-block head">
        Оплата при отриманні
      </div>
      <div>
        <div>Оплата при отриманні можлива, як при доставці на</div>
        <div>відділення Нової Пошти, так і при адресній доставці.</div>
        <div>При такому способі оплати покупець додатково</div>
        <div>оплачує комісію в розмірі ?? грн.</div>
      </div>
    </div>

    </div>

  </div>

  <div class="delivery-head">
    <img src="/assets/icons/dostavka-ikonka1.jpg" alt="delivery" width="44" height="40">
    <p class="headline">Доставка</p>
  </div>

  <div class="delivery-wrapper">

    <div>

      <div>Замовлення, зроблені до 14:00, ми відправляємо в той же день.</div>
      <div class="delivery-block">
        <img src="/assets/icons/NP.png" alt="np" width="128" height="128">
        <div class="headline-in-block">Нова Пошта</div>
      </div>

      <div>Від ?? грн. Доставка до відділення Нової пошти у вашому місті.</div>

    </div>

    <div class="delivery-block">

      <img src="/assets/icons/shop box.svg" alt="shop box" width="128" height="128">
      <div class="headline-in-block">Інші способи...</div>

    </div>

  </div>

</div>
