<app-header-component></app-header-component>

<div class="payment-head">
  <img src="/assets/icons/cash-on-delivery.png" width="40" height="40">
  <p>Оплата</p>
</div>

<div class="payment-block">
  <img src="/assets/icons/shop card.svg" width="128" height="128">

  <div>
    <div>
      Карткою Visa, Mastercard
    </div>
    <div>
      Оплата здійснюється на банківський рахунок на ім’я
    </div>
    <div>
      ФОП Поліщук Максим Васильович.
    </div>
    <div>
      Карта ФОП Поліщук Максим Васильович
    </div>
    <div>7777 7777 7777 7777</div>
  </div>
</div>

<div>
</div>

<div class="delivery-head">
  <img src="assets/icons/dostavka-ikonka1.jpg" width="44" height="40">
  <p>Доставка</p>
</div>

<app-footer-component></app-footer-component>
