<div class="main-block">
  <div>
    <img src="assets/icons-social-media/inst.png" alt="inst" height="40">
    <img src="assets/icons-social-media/fb.png" alt="fb" height="40">
    <img src="assets/icons-social-media/tel.png" alt="tel" height="40">
    <img src="assets/icons-social-media/vib.png" alt="vib" height="40">
    <img src="assets/icons-social-media/youtub.png" alt="youtub" height="40">
  </div>
  <nav class="nav-bar">
    <div>ГОЛОВНА</div>
    <div>ОПЛАТА-ДОСТАВКА</div>
    <div>КОНТАКТИ</div>
  </nav>
  <div>
    UA ENG
  </div>
</div>
