<div class="main-block">
  <form [formGroup]="orderForm">
    <div class="data-of-saler">
      <div class="column-title">
        <h2>Дані покупця</h2>
        <span>
          <i class="material-icons">
            chevron_right</i>
        </span>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Місто</mat-label>
          <mat-select  formControlName="city">
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="text" matInput placeholder="Прізвище та ім'я" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="number" matInput placeholder="Телефон" formControlName="phone">
        </mat-form-field>
      </div>
    </div>

    <div class="delivery-block">
      <div class="column-title">
        <h3>Доставка</h3>
        <span>
            <i class="material-icons">
              chevron_right
            </i>
          </span>
      </div>
      <div>
        <mat-checkbox formControlName="npPost">
          Відділення Нової Пошти
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="npCourier">
          Кур'єрська доставка Новою Поштою
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="ukrPost">
          Відділення Укр Пошти
        </mat-checkbox>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Відділення</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div>
    <div class="column-title">
      <h3>Ваше замовлення</h3>
      <span>
        <i class="material-icons">
          chevron_right
        </i>
      </span>
    </div>
    <div class="product-block" *ngFor="let product of order">
      <img src="{{ product.image[0] }}" alt="product" width="130">
      <div>{{ product.name }}</div>
      <div>{{ product.price }}</div>
    </div>
    <div>Всього: {{ getSummaryBasket() }}</div>
  </div>
</div>
