<div class="main-block">
  <div>Контакти</div>
  <div>
    <img src="assets/icons-social-media/inst.png" alt="inst" height="40">
    <img src="assets/icons-social-media/fb.png" alt="fb" height="40">
    <img src="assets/icons-social-media/tel.png" alt="tel" height="40">
    <img src="assets/icons-social-media/vib.png" alt="vib" height="40">
    <img src="assets/icons-social-media/youtub.png" alt="youtub" height="40">
  </div>
  <div>+380 (093) 673 73 70</div>
  <div>m31stud@gmail.com</div>
</div>
