<div class="head">
  <div class="head-name">Кошик</div>
  <div class="cursor-pointer" (click)="close()">&#10006;</div>
</div>

<div class="products-block-wrap">
  <div class="product-block" *ngFor="let product of order">
    <div class="product-block-part">
      <div class="product-data-part" (click)="removeProductFromBasket(product)">
        <i class="material-icons">
          delete_outline
        </i>
      </div>
      <img class="product-data-part" src="{{ product.image[0] }}" width="80" alt="product">
      <div class="product-data-part">{{ product.name }}</div>
    </div>

    <div class="product-block-part">
      <div class="product-data-part">{{ product.price }} грн</div>
    </div>
  </div>
</div>
<div class="summary">Всього: {{ this.getSummaryBasket() }} грн</div>

<div class="bottom-btn">
  <button mat-stroked-button (click)="close()">Продовжити покупки</button>
  <button mat-stroked-button color="primary">Оформити замовлення</button>
</div>
