.head
  display: flex
  justify-content: space-between
  margin-bottom: 23px

.head-name
  font-size: 20px
  line-height: 23px
  font-weight: bold
  text-transform: uppercase

.products-block-wrap
  margin-bottom: 19px
  border-bottom: 2px solid #B5B5B5

.product-block, .product-block-part
  display: flex
  justify-content: space-between
  align-items: center

.product-block
  margin-bottom: 10px

.product-data-part
  padding: 0 8px 0 8px

.summary
  display: flex
  justify-content: flex-end
  margin-bottom: 27px

.bottom-btn
  display: flex
  justify-content: flex-end

.bottom-btn :nth-child(1)
  margin-right: 10px
